@tailwind base;
@tailwind components;
@tailwind utilities;

.html{
    font-family: monogram;
}
#svgElement {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    background-color: #1d222b;
    background-image: linear-gradient(to bottom, rgba(29, 34, 43, 0.86), #1d222b);
    background-size: contain;
    z-index: -1;
}

.max-width{
    width:100%;
}
.top {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
}
@font-face {
    font-family: "monogram";
    src: url("../../public/monogram.ttf");
}

